<script>
    function get_response_message_div(message) { return `<div class="alert alert-warning alert-dismissible" role="alert"> ${message} </div>` };

    // from https://swf.com.tw/?p=94
    function checkID(idStr) {
        const LETTERS = {'A': 10, 'B': 11, 'C': 12, 'D': 13,'E': 14, 'F': 15, 'G': 16, 'H': 17, 'J':18, 'K':19, 'L':20, 'M':21,
                         'N':22, 'P':23, 'Q':24, 'R':25, 'S':26, 'T':27, 'U':28, 'V':29,
                         'X':30, 'Y':31, 'W':32, 'Z':33, 'I':34, 'O':35};
        const MULTIPLY = [1, 9, 8, 7, 6, 5, 4, 3, 2, 1, 1];
        const regExpID = /[a-z](1|2)\d{8}$/i;

        if (idStr.search(regExpID) === -1) {
            return false;
        }

        let nums = new Array(2);
        nums[0] = Math.floor(LETTERS[idStr[0]] / 10);
        nums[1] = LETTERS[idStr[0]] % 10;
        let total = nums
          .concat(idStr.slice(1).split('').map(num => parseInt(num, 10)))
          .map((val, idx) => val * MULTIPLY[idx])
          .reduce((a, c) => a + c);

        return total % 10 == 0;
    }


    function init() {
        document.querySelector('button.submit').addEventListener('click', event => {
            let form = document.getElementById("forgetPasswordForm");

            let flag = false;
            form.querySelectorAll('.needs-validation').forEach(el => {
                if (!el.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    flag = true;
                }

                el.classList.add('was-validated');
            })

            if (flag) {
                form.classList.add('was-validated');
                return;
            }

            let account = form.querySelector("#InputAccount").value;
            let name = form.querySelector("#InputName").value;
            let birth = form.querySelector("#InputBirth").value;
            let id = form.querySelector("#InputID").value;

            let print = form.querySelector("#print");
            let wrapper = document.createElement("div");

            flag = false;
            if (account === "") {
                wrapper.innerHTML = get_response_message_div("帳號不可以空白");
                flag = true;
            } else if (name === "") {
                wrapper.innerHTML = get_response_message_div("姓名不可以空白");
                flag = true;
            } else if (id === "") {
                wrapper.innerHTML = get_response_message_div("身份證字號不可以空白");
                flag = true;
            } else if (!checkID(id)) {
                wrapper.innerHTML = get_response_message_div("身份證字號格式錯誤");
                flag = true;
            } else if (birth === "" || birth.length != 8 || isNaN(parseInt(birth)) || parseInt(birth) < 19500000) {
                wrapper.innerHTML = get_response_message_div("生日請輸入西元年共八位數字(yyyyMMdd)");
                flag = true;
            }

            if (flag) {
                print.appendChild(wrapper);
                setTimeout(() => {
                    print.innerHTML = '';
                }, 1500);
                return;
            }

            wrapper.innerHTML = get_response_message_div("校務系統處理中");
            print.appendChild(wrapper);

            post("{{ base_url }}/be/forgetpw", {
                reqtype: "forget",
                account: account,
                name: name,
                idno: id,
                birth: birth,
            }).then(response => {
                return response.text();
            }).then(res => {
                if (res[0] == "E") {
                    if (res == "Enoext") {
                        wrapper.innerHTML = get_response_message_div("帳號不存在");
                    } else if (res == "Eremoteblock") {
                        wrapper.innerHTML = get_response_message_div("被校務系統擋")
                    } else if (res == "Eparam") {
                        wrapper.innerHTML = get_response_message_div("")
                    }
                } else {
                    wrapper.innerHTML = get_response_message_div("請求發送成功，請在24小內完成密碼重設")
                }
                print.innerHTML = '';
                print.appendChild(wrapper);
                setTimeout(() => {
                    print.innerHTML = '';
                }, 1500);
            })
        });
    }

    init();
</script>

<style>
    button.submit {
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="row row-cols-1 row-cols-lg-3 justify-content-center align-content-center" style="height: 100%;">
    <div id="login" class="col mt-1">
        <form id="forgetPasswordForm" style="padding-top: 25%;">
            <h3 class="text-center">忘記密碼</h3>
            <p>
                為了確認您的身份，請輸入以下資料，核對無誤後，系統會將驗證信寄至您的E-mail信箱，<span style="color: red;">請在收到mail之後，點擊mail裡的url連結以完成驗證的程序</span>，之後即可使用預設密碼登入
            </p>
            <p>
                請不要隨意使用本功能，校務系統會擋
            </p>
            <div class="mb-4">
                <input type="text" id="InputAccount" class="form-control needs-validation" placeholder="帳號" required/>
                <div class="invalid-feedback">請輸入帳號</div>
            </div>
            <div class="mb-4">
                <input type="text" id="InputName" class="form-control needs-validation" placeholder="姓名" required/>
                <div class="invalid-feedback">請輸入姓名</div>
            </div>
            <div class="mb-4">
                <input type="text" id="InputBirth" class="form-control needs-validation" placeholder="生日(格式:yyyyMMdd)" required/>
                <div class="invalid-feedback">請輸入生日</div>
            </div>
            <div class="mb-4">
                <input type="text" id="InputID" class="form-control needs-validation" placeholder="身份證字號" required/>
                <div class="invalid-feedback">請輸入身份證字號</div>
            </div>
            <div class="mb-5 mb-lg-3" id="print"></div>
            <button type="button" class="btn btn-primary my-3 submit" aria-label="send forget password request" tabindex="0">
                送出請求
            </button>
        </form>
    </div>
</div>
