{% from utils.htmlgen import get_credit_type_chinese_str, get_color_style_html %}

<script>
</script>

<div class="row">
    {% if credits %}
    <div class="mx-lg-3 my-1">
        <p><span {{ get_color_style_html("#ffc107") }}>黃色</span>表示本學期可以將剩餘的學分修完</p>
        <p><span {{ get_color_style_html("#dc3545") }}>紅色</span>表示本學期沒辦法將剩餘的學分修完</p>
        <p>可能是前五個學期學分不夠或是本學期某些學科缺席超過1/3(自己把自己當掉)</p>
        <p>本學期部定必修學分: {{ final_credit[0]}} 校訂必修學分: {{ final_credit[1] }} 校選學分: {{ final_credit[2] }}</p>
    </div>
    <table class="table col-12 mx-lg-3">
        <thead>
            <tr>
                <th scope="col">項目</th>
                <th scope="col">實得學分</th>
                <th scope="col">最低學分</th>
            </tr>
        </thead>

        {% set class_number = session.student_class_number % 100 %}
        <tbody>
            <tr>
                <th scope="row">總學分</th>
                <td>{{ sum(credits) }}</td>
                <td>150</td>
            </tr>

            {% if class_number <= 17 or class_number == 19 %}
                <tr>
                    <th scope="row">必修學分</th>
                    <td {{ get_credit_status_style(credits[0] + credits[1], final_credit[0] + final_credit[1], 102) }}>
                        {{ credits[0] + credits[1] }}
                    </td>
                    <td>102</td>
                </tr>
                <tr>
                    <th scope="row">選修學分</th>
                    <td {{ get_credit_status_style(credits[2], final_credit[2], 40) }}>{{ credits[2] }}</td>
                    <td>40</td>
                </tr>
            {% elif class_number == 18 %}
                <tr>
                    <th scope="row">部定必修學分</th>
                    <td {{ get_credit_status_style(credits[0], final_credit[0], 80) }}>{{ credits[0] }}</td>
                    <td>80</td>
                </tr>
                <tr>
                    <th scope="row">校定必修學分</th>
                    <td {{ get_credit_status_style(credits[1], final_credit[1], 24) }}>{{ credits[1] }}</td>
                    <td>24</td>
                </tr>
                <tr>
                    <th scope="row">選修學分</th>
                    <td {{ get_credit_status_style(credits[2], final_credit[2], 37) }}>{{ credits[2] }}</td>
                    <td>37</td>
                </tr>
            {% end %}
        </tbody>
    </table>
    {% else %}
        <h1>無法計算畢業學分，校務系統不提供資料</h1>
    {% end %}
</div>
