<div class="row">
    <div class="col-2"></div>

    <div class="col-8">
        <h3 class="text-center">校務系統又又又炸了或是tobiichi3227不會coding</h3>
        <h3 class="text-center">趕快通知tobiichi3227把bug處理好吧</h3>
        <h5 class="text-center"><a target="_blank" href="https://github.com/tobiichi3227/TNFSH-Scoreboard/issues">Github Issues</a></h5>
        <h5 class="text-center"><a target="_blank" href="https://forms.gle/ffzsPJRoxDNU6PYeA">Google 表單</a></h5>
    </div>

    <div class="col-2"></div>
</div>