{% from utils.htmlgen import get_reward_chinese_str %}

<script>
    function init() {
        document.getElementById("reward_select").addEventListener('change', event => {
            let url = '{{ base_url }}/reward/?';
            const [year, seme] = event.target.value.split(",");

            if (year === "-1" || seme === "-1") {
                return;
            }

            url += `&year=${year}`;
            url += `&seme=${seme}`;

            route.go(url);
        });
    }

    init();
</script>

<div class="row">
    <select class="form-select my-3 col-12" id="reward_select">
        <option value="-1,-1">請選擇學期</option>
        {% for score_obj in item_ids %}
            <option value="{{ f"{score_obj['year']},{score_obj['seme']}" }}"
                {% if year is not None and seme is not None and int(year) == int(score_obj['year']) and int(seme) == int(score_obj['seme']) %}
                    selected
                {% end %}
            >
                {% if score_obj["seme"] == 1 %}
                    {% set str_seme = "上" %}
                {% else %}
                    {% set str_seme = "下" %}
                {% end %}
                {{ f"{score_obj['year']} {str_seme} " }}
            </option>
        {% end %}
    </select>


    {% if rewards is not None %}
    <table class="table table-sm col-12 mx-lg-3 my-3">
        <thead>
            <tr>
                <th scope="col">嘉獎</th>
                <th scope="col">小功</th>
                <th scope="col">大功</th>
                <th scope="col">警告</th>
                <th scope="col">小過</th>
                <th scope="col">大過</th>
            </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ f"{stats[0]}支" }}</td>
            <td>{{ f"{stats[1]}支" }}</td>
            <td>{{ f"{stats[2]}支" }}</td>
            <td>{{ f"{stats[3]}支" }}</td>
            <td>{{ f"{stats[4]}支" }}</td>
            <td>{{ f"{stats[5]}支" }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-responsive-sm col-12 mx-lg-3 my-3">
        <thead>
            <tr>
                <th scope="col">獎懲事實</th>
                <th scope="col">獎懲事項</th>
                <th scope="col">獎懲</th>
                <th scope="col">是否註銷</th>
                <th scope="col">註銷日期</th>
            </tr>
        </thead>

        <tbody>
        {% for reward in rewards %}
            <tr>
                <td>{{ reward["fact"] }}</td>
                <td>{{ reward["desc"] }}</td>
                <td>{{ get_reward_chinese_str(reward["rewards"]) }}</td>
                {% if (cancel := reward["cancel"]) == "" %}
                    <td></td>
                {% else %}
                    <td>{{ "否" if cancel == "N" else "是" }}</td>
                {% end %}
                <td>{{ reward["cancel_date"] }}</td>
            </tr>
        {% end %}
        </tbody>
    </table>
    {% end %}
</div>
